* {
    box-sizing: border-box;
  }

input[type=text ], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size: 30px;
  }
  input[type=email ], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size: 30px;
  }
  
  .label {
    padding: 12px 12px 12px 0;
    display: inline-block;
   /*  */
   background: linear-gradient(60deg,  #3498db, #a03ce7);
   text-indent: 50px;
   text-align: justify;
   letter-spacing: 7px;
   font-size: 25px;
   width: 80%;
   margin-left: 60px;
  padding: 30px;
  }
  
  input[type=submit] {
    background: linear-gradient(60deg,  #3498db, #a03ce7);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    float: right;
    font-size: 60px;
  }
  
  input[type=submit]:hover {
    background: linear-gradient(60deg,  #051e2e, #2e074a);
  }
  
  .container {
    background-image: url(../../assets/contactame.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    position: absolute;

  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  .rowSub{
 width: 60%;
 margin-top: 40px;
  }
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 720px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  .button {
    display: inline-block;
    border-radius: 4px;
   
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button a {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button a:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover a {
    padding-right: 25px;
  }
  
  .button:hover a:after {
    opacity: 1;
    right: 0;
  }



  @media (max-width: 720px){
    * {
      box-sizing: border-box;
    }
    
    input[type="text"], input[type="email"], select, textarea {
      width: 100%;
      padding: 10px; /* Reducido el relleno para dispositivos móviles */
      border: 2px solid #ccc;
      border-radius: 4px;
      resize: vertical;
      font-size: 20px; /* Tamaño de fuente reducido para dispositivos móviles */
    }
    
    .label {
      padding: 12px 0;
      display: block; /* Cambiado a "block" para que las etiquetas estén en líneas separadas */
      background: linear-gradient(60deg, #3498db, #a03ce7);
      text-indent: 20px; /* Reducida la sangría del texto */
      text-align: center;
      letter-spacing: 3px; /* Reducido el espaciado entre letras */
      font-size: 18px; /* Tamaño de fuente reducido para dispositivos móviles */
       /* Ancho al 100% para que las etiquetas ocupen todo el ancho disponible */
    }
    
    input[type="submit"] {
      background: linear-gradient(60deg, #3498db, #a03ce7);
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      float: none; /* Eliminado el flotado para centrar el botón en dispositivos móviles */
      margin-top: 10px; /* Agregado margen superior para separar el botón de otros elementos */
      font-size: 30px; /* Tamaño de fuente ajustado para dispositivos móviles */
    }
    
    .container {
     
      position: absolute;
     /* Cambiado a "relative" para que el contenido fluya dentro del contenedor */
    }
    
    .col-25, .col-75 {
      width: 100%; /* Cambiado el ancho al 100% para ocupar toda la anchura disponible */
      margin-top: 10px; /* Agregado margen superior para separar las columnas */
    }
    
    .rowSub {
      width: 100%; /* Cambiado el ancho al 100% para ocupar toda la anchura disponible */
      margin-top: 20px; /* Aumentado el margen superior para separar las filas */
    }
    
    /* Clear floats after the columns */
    .row::after {
      content: "";
      display: table;
      clear: both;
    }
    
  }