.card{
    border: 1px solid gray;
    padding: 30px;
    margin: auto auto 40px auto;
    text-align: center;
    
}
.img{
  
    width:1000px;
    height:500px;

}
.h4{
    font-size: 55px;
    font-weight: 700; background: linear-gradient(60deg,  #3498db, #a03ce7);
    text-indent: 50px;
    text-align: center;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
    
    font-size: 1cm;
}
.span{
   
    font-weight: 700; 
    background: linear-gradient(60deg,  #3498db, #a03ce7);
    text-indent: 50px;
    text-align: center;
 
   
    text-transform: uppercase;
  
    
    letter-spacing: 3px;
    font-size: 25px;
}
.div{
    display: flex;
    flex-direction: column;
    background: linear-gradient(60deg,  #3498db, #a03ce7);}


    .info a+a{
        margin-left: 30px; 
    }






    @media (max-width: 720px) {
        
        .img {
          width: 100%;
          height: auto; 
        }

        .h4{
            font-size: 35px;
            font-weight: 700; background: linear-gradient(60deg,  #3498db, #a03ce7);
            text-indent: 20px;
            text-align: center;
            letter-spacing: 2px;
            text-align: center;
            text-transform: uppercase;
          
        }
        .span{
   
            font-weight: 700; 
            background: linear-gradient(60deg,  #3498db, #a03ce7);
            text-indent: 10px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-size: 25px;
        }
      }