
  
  .fondobanner{
    background-image: url(../../assets/sobreMi.jpg);

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    position: absolute;

  }
.texto{
  background: linear-gradient(60deg,  #3498db, #a03ce7);
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 7px;
  font-size: 25px;
  width: 80%;
  margin-left:10%;
 padding: 50px;}

  @media (max-width: 720px){

.fondobanner {
  background-image: url(../../assets/sobreMi.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  position: absolute;
}

.texto {
  background: linear-gradient(60deg, #3498db, #a03ce7);
  text-indent: 20px;
  text-align: justify;
  letter-spacing: 3px;
  font-size: 18px;
  width: 100%;
  margin: 10px auto;
  padding: 20px;
}
  }