.div1 {
    border: 1px solid gray;
    padding: 30px;
    margin: auto auto 40px auto;
  }
  
  .miNombre {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
  }
  
  .texto {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 7px;
    font-size: 25px;
  }
  
  @media (max-width: 720px){
.texto{
  text-indent: 1px;
    font-size: 20px;
    text-align: center;
   
}

  }